<h5>String Interpolation</h5>
<p>
{{stringInterpolation}} | {{numberInterpolation}}
</p>
<h5>Property Binding</h5>
<input type="text" [value]= 'stringInterpolation' />
<p [ngClass]='{redBorder: onTest()}' >Is this styled?</p>
<p [ngStyle]="{color: 'green'}" >Is this styled?</p>
<h5>custom Input data binding</h5>
<fa-property-binding [result]="1000000"></fa-property-binding>
<fa-event-binding (clicked)='doThisWithEvent($event)'></fa-event-binding>
<p>two-way-data-binding</p>
<fa-two-way-binding></fa-two-way-binding>